$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 750px;
$desktopXS: 1024px;
$desktop: 1200px;
$desktopL: 1440px;
$max-width: 1920px;

$retina-dppx: 1.5dppx;

$font: "museo_sans_cyrl", "Arial", sans-serif;
$text-color: #000000;

$color-accent: #ff2d3a;
$color-accent-hover: #f0000f;

// $color-text-main: #000000
$color-text-grey: #818188;
$color-bg-grey: #f3f3f5;

$btn-color-dark: #000000;
$btn-color: #ff2d3a;
$input-border: #666666;
